{% import '@ibexadesign/ibexa_dataflow/macros.twig' as macros %}

{% block content %}
    <div class="container ez-main-container history-details-aware">
        {% if item is not null %}
        <h2>{{ 'coderhapsodie.ibexa_dataflow.history.job.title'|trans }} n°{{ item.id }}</h2>

        <table class="table ez-table ez-table--list">
            <thead>
            <tr>
                <th colspan="2">
                    {{ 'coderhapsodie.ibexa_dataflow.history.details.title'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.name'|trans }}</td>
                <td>{{ item.label }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.request'|trans }}</td>
                <td>{{ date(item.requestedDate)|ibexa_short_datetime }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.status'|trans }}</td>
                <td>{{ macros.translateStatus(item.status) }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.start'|trans }}</td>
                <td>{{ item.startTime ? date(item.startTime)|ibexa_short_datetime : '—' }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.end'|trans }}</td>
                <td>{{ item.endTime ? date(item.endTime)|ibexa_short_datetime : '—' }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.count'|trans }}</td>
                <td>{{ item.count }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.errors'|trans }}</td>
                <td>{{ item.exceptions|length }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.type'|trans }}</td>
                <td>{{ item.dataflowType }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ibexa_dataflow.history.details.options'|trans }}</td>
                <td>{{ item.options|json_encode }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            <p class="ez-table-no-content">{{ 'coderhapsodie.ibexa_dataflow.notfound'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
